@import "tailwindcss";

@theme{

  --font-title:"Mountains of Christmas", serif;
  --font-jersey:"Jersey 10", sans-serif;
  --font-handjet:"Handjet", sans-serif;
  --font-chakra:"Chakra Petch", sans-serif;
  --color-lavender:#8E84A2;
  --color-hover:#a395bd;
  --color-soft:#E5D3E8;
  --color-purple:#5F2983;
  --color-eggplant:#393348;
  --animate-typing: typing 3.5s steps(40, end), blinkcaret .75s step-end infinite;
  --animate-blinkcaret: blinkcaret .75s step-end infinite;
  --animate-fadeemail: fadeOut 2s ease-in-out forwards;
  --shadow-soft: 20px 20px 60px #79708a,
  -20px -20px 60px #a398ba;
  
  /* The typewriter cursor effect */
  @keyframes typing {
    from { width: 0; }
    to { width: 40ch;}
  }
  @keyframes blinkcaret {
    from, to { border-color: transparent }
    50% { border-color: #E5D3E8; }
  }
  @keyframes fadeOut {
    0%   { opacity: 0; transform: translateY(-10px); }
    30%  { opacity: 1; transform: translateY(0); }
    80%  { opacity: 1; }
    100% { opacity: 0; transform: translateY(-10px); }
  }  
}

@layer components{
  .background{
    @apply bg-lavender bg-center bg-cover w-screen h-screen overflow-auto;
  }

  .hoverBox{
    @apply transition-all duration-150 ease-in-out 
    border border-transparent hover:border-eggplant hover:-translate-y-1 bg-lavender hover:bg-hover
  }
}